.sidebar{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    /* margin: 1rem; */
    background-color: rgba(67, 98, 104, 0.829);
    min-width: 225px;
    box-shadow: rgba(211, 211, 211, 0.582) .25rem .25rem 5px;

}

.sidebar-link{
    color:whitesmoke;
    text-decoration: none;
   text-shadow: rgba(63, 62, 62, 0.582) .1rem .1rem 5px;
}

.add-tag-button:hover{
    cursor: pointer;
    color: blue;
}
