.sidebar{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    /* margin: 1rem; */
    background-color: rgba(67, 98, 104, 0.829);
    width: 250px;

}

.sidebar-link{
    color:whitesmoke;
    text-decoration: none;
}
