
.slide-btn{
    margin: 1rem;
}

.slide-card{
    width: 20rem;
}

.slide-container{
    margin: 2rem;
}

.slide-list-title{
    text-align: center;
}

.slide-detail-container{
    margin:2rem;
}

.slide-detail-img{
    width: 10rem;
}

.slide-card-container{
    margin: 1rem;
}

.slide-card-wrapper{
    display: flex;
    flex-wrap: wrap;
}