
.slide-btn{
    margin: 1rem;
}

.slide-card{
    width: 20rem;
}

.slide-container{
    margin: 0rem 0rem 0rem 2rem;
}

.slide-list-title{
    text-align: center;
}

.slide-detail-container{
    margin:2rem;
    display: flex;
    justify-content: space-between;
}

.new-slide-form{
    margin:3rem;
    display: flex;
    flex-direction: column;
}

.slide-detail-header{
    text-align: center;
    
}
.scope-slide-container-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.scope-slide-contaier-column{
    display: flex;
    flex-direction: column;
}

.sub-image-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: .5rem;
}

.comments-header{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0rem 1rem 0rem;
}
.slide-detail-img{
    width:inherit;
}

.scope-name{
    text-align: center;
}

.slide-detail-info-container{
    margin: .5rem;
    margin-top: .5rem;
    padding-top: .5rem;
}

.slide-card-container{
    margin: 1rem;
}
.slide-card-container:hover{
    cursor: pointer;
}

.image-container{
    display: flex;
    width: 30rem;
}

.slide-card-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-upload-field{
    margin-top: 1rem;
}

.card-subtitle{
    display: flex;
    justify-content: space-between;
}

.slide-comments{
    margin: 1rem;
}

.slide-details-column{
    margin: 1rem 6rem 1rem 6rem;
    justify-content: center;
}

.scope-slides{
    justify-content: space-between;
}

.line{
    margin-bottom: 1rem;
}

.slide-card-mini{
display: flex;
justify-content: space-between;
border: solid rgb(219, 219, 219) .1rem;
margin: 1rem;
}
.slide-card-mini:hover{
    cursor: pointer;
}

.left-box{
display: flex;
flex-direction: column;
width: 7rem;
}

.center-box{
height: 5rem;
width: 5rem;
}

.right-box{
    display: flex;
    flex-direction: column;
    width: 7rem;
}

.mini-slide-img{
    height: 5rem;
    width: 5rem;
}

.right-container{
    display: flex;
    flex-direction: column;
}

.slide-detail-scope-img{
    padding: 1rem;
    height: 25rem;
    width: auto;
}