body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  margin: 0;
  height: 100%;
}

.logo{
  margin-left: 1rem;
}

.dashboard{
  display: flex;
  
}

.dashboard-container-left{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 56rem;
}

.dashboard-header{
  margin-top: 1rem;
  /* margin-left: 2rem; */
  text-align: center;
}

.mini-slide-list-dashboard{
  margin-top: 2rem;
}

.navbar-container{
  box-shadow: rgba(211, 211, 211, 0.582) .25rem .25rem 5px;
}

.dashboard-veiw-toggle-buttons{
  display: flex;
  justify-content: space-between;
  margin: 2rem 14rem 0rem 14rem;
}

.view-toggle-buttons{
  border: lightgrey .1rem solid;
  padding: .5rem 2rem;
  border-radius: 2rem;
  box-shadow: rgba(211, 211, 211, 0.582) .25rem .25rem 5px;
  background-color: lightskyblue;
  color: white;
}

.view-toggle-buttons:hover{
  cursor: pointer;
}