.tag-active-true{
    border:.1rem solid slategray;
    background-color: steelblue;
    color: whitesmoke;
    padding:.25rem;
    border-radius: .25rem;
}
.tag-active-false{
    border:.1rem solid slategray;
    padding:.25rem;
    border-radius: .25rem;
}

.all-tags-container{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0rem 5rem 0rem 5rem;
}

.search-tag-container{
    margin: 1rem;
    border-radius: 2rem;
    background-color: lightskyblue;
    color: whitesmoke;
    border: lightgray .1rem;
    box-shadow: rgba(211, 211, 211, 0.582) .25rem .25rem 5px;
    padding: .5rem 1rem .5rem 1rem;
}

.search-tag-container:hover{
    cursor: pointer;
}



.found-slides-cotainer{
    display: flex;
    flex-wrap: wrap;
   width: 70rem;
   max-height: 64rem;
   overflow: auto;
}

.found-slides-header{
    text-align: center;

}

.found-slides-header-tags{
    text-align: center;
    margin-top: 2rem;
}

.tag-slide-page{
    margin-left: 2rem;
    display: flex;
}